@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@200&family=Raleway:wght@300&display=swap');
*{box-sizing: border-box;margin:0;padding:0;}
html{font-family: 'Montserrat Alternates', sans-serif;
    font-family: 'Raleway', sans-serif;padding:0 30px;font-size:16px;
    --text-color:#57b957;
    --red-color:#b85252;
    --bg:#FCFCFC;
    --bg-panel:#EBEBEB;
    --color-heading:#0077ff;
    --color-text:#333333;}

html[data-theme="dark"]{
    --text-color:#57b957;
    --bg:#333333;
    --bg-panel:#434343;
    --color-heading:#0077ff;
    --color-text:#b5b5b5;}

body{background-color:var(--bg);color:var(--color-text)}
h1, h2, h3, h4{font-weight: 200;}
a{text-decoration: none;color:inherit;}
ul{list-style-type: none;}
li{}
button{text-decoration: none;border:none;outline:none;background-color: transparent;}
input, select, option{background-color: var(--bg);border:none;color:var(--color-text);border-radius:10px;padding:10px;}
input:hover, select:hover{box-shadow: 0px 0px 4px 0px var(--color-text);}

input[type=checkbox]{height:0;width:0;visibility: hidden;}
.switch{cursor: pointer;text-indent: -9999px;width:52px;height:27px;background-color: grey;float: right;border-radius: 100px;position: relative;}
.switch:after{content:'';position:absolute;top:3px;left:3px;width: 20px;height: 20px;background-color: #fff;border-radius:90px;transition: .3s;}
input:checked + .switch{background-color: var(--color-heading);}
input:checked + .switch:after{left: calc(100% - 5px);transform: translateX(-100%);}
.switch:active:after{width:45px;}


#header{width:100%;height:auto;display: inline-block;padding:10px 0;border-bottom: solid 1px #000;}
#navBar{display: inline-flex;}
.navBar_itms{margin-right:20px;}
#mounth{float: right;}
#mainContent{width:100%;height:auto;display:block;padding:10px 0;}
#main_info{display:inline-grid;font-size: 1.2em;}
.organizeBox{padding:20px;margin:40px 0;}
#main_info span{margin-bottom:.6em;}
.organizeBox__{width:100%;height:auto;background-color:var(--bg-panel);border-radius: 10px;}
.info_box{padding:10px;border:1px solid var(--text-color);margin:0 10px 10px 0;display: inline-flex;transition: .1s;}
.info_box:hover{cursor:pointer;background-color:var(--text-color);color:#fff;}
#third_info span{font-size: 1.4em;margin:0 10px 10px 0;display: inline=flex;}
#third_info span:hover{color:var(--text-color);cursor: pointer;}
