@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@200&family=Raleway:wght@300&display=swap');
*{box-sizing: border-box;margin:0;padding:0;}
html{font-family: 'Montserrat Alternates', sans-serif;
    font-family: 'Raleway', sans-serif;padding:0 30px;font-size:16px;
    --text-color:#57b957;
    --red-color:#b85252;
    --bg:#FCFCFC;
    --bg-panel:#EBEBEB;
    --color-heading:#0077ff;
    --color-text:#333333;
    
    --glass:rgba(200, 200, 200, 0.4);
  }
html[data-theme="dark"]{
    --text-color:#57b957;
    --bg:#333333;
    --bg-panel:#434343;
    --color-heading:#0077ff;
    --color-text:#b5b5b5;}

body{background-color:var(--bg);color:var(--color-text)}
h1, h2, h3, h4{font-weight: 200;}
a{text-decoration: none;color:inherit;}
ul{list-style-type: none;}
li{}
button{text-decoration: none;border:none;outline:none;background-color: transparent;}


input, select, option{background-color: var(--bg);border:none;color:var(--color-text);border-radius:10px;padding:10px;}
input:hover, select:hover{box-shadow: 0px 0px 4px 0px var(--color-text);}
input:active, select:active {outline: none;border: none;}
input:focus, select:focus {outline:0;}


input[type=checkbox]{height:0;width:0;visibility: hidden;}

/* Hide scrollbar for Chrome, Safari and Opera */
.settings_scrBar::-webkit-scrollbar {
    display: none;
}

/*scrollbar 2*/
.settings_scrBar2::-webkit-scrollbar {
    width: 6px;
  }
  
.settings_scrBar2::-webkit-scrollbar-track {
    border-radius: 10px;
  }
   
  .settings_scrBar2::-webkit-scrollbar-thumb {
    background: var(--bg-panel);
    border-radius: 3px;
  }


.sec_info h2{margin-bottom:20px;}
.sec_info h3{margin:20px 0; font-weight: 600;}



#header{width:100%;height:auto;display: inline-block;padding:10px 0;border-bottom: solid 1px #000;}
#navBar{display: inline-flex;}
#navBar  *{margin-right:20px;}
#mounth{float: right;}
#mainContent{width:100%;height:auto;display:block;padding:10px 0;}
#main_info{display:inline-grid;font-size: 1.2em;}
.organizeBox{padding:20px;margin:40px 0;}
#main_info span{margin-bottom:.6em;}
.organizeBox__{width:100%;height:auto;background-color:var(--bg-panel);border-radius: 10px;}
.info_box{padding:10px;border:1px solid var(--text-color);margin:0 10px 10px 0;display: inline-flex;transition: .1s;}
.info_box:hover{cursor:pointer;background-color:var(--text-color);color:#fff;}
#third_info span{font-size: 1.4em;margin:0 10px 10px 0;display: inline=flex;}
#third_info span:hover{color:var(--text-color);cursor: pointer;}


.themes_stngs{display: block;}


.themes_displayed{    width: 100%;
    margin: auto;
    position: relative;
    display: table;
    clear: both;}
[class*="thm_view"]{position: relative;
    float: left;
    width: calc(50% - 10px);
    padding-top: calc(50% - 10px);
    margin: 5px;
    transition: .4s;transform:scale(.9)}
.thmview_ld, .thmview_ld__{width:100%;height:100%;position:absolute;top:0;left:0;z-index: 3;}
.thmview_ld__{z-index: 2;transition: .5s;}
.thm_view[selected="yes"]{transform:scale(.85);}
.thm_view[selected="yes"] [class*="thm_bck"]{box-shadow: none;border:3px solid var(--color-heading)}
.thm_view[selected="no"]:hover{transform:scale(1.1);z-index: 2;}
[class*="thm_text2"]{font-size:.4em;display: block;}
[class*="thm_bck"]{width:100%;height:100%;position:absolute;top:0;left:0;background-color:var(--bg);border-radius: 10px;padding:10px;box-shadow: 0 0 6px 0 #cecdcd;}
[class*="thm_bck"]span{color:var(--color-text);}

[class*="thm_box"]{border-radius:5px;margin:10px auto;width:100%;height:auto;padding:10px;background-color:var(--bg-panel);}
[class*="thm_text_box"]{font-size:.4em;padding:4px;background-color: transparent;color:var(--color-text);border: 1px solid var(--text-color);display: inline-block;}
[class*="thm__text_box"]{color:inherit;background-color: var(--text-color);}

.new_thm_setup{margin:0;margin-top:20px;position:relative;background-color: var(--bg);border-radius:20px;height: 0px;overflow: hidden;transition:.3s;}
.new_thm_setup_new{height:456px;padding:30px 10px;}
.thm_view_new{width:100%;padding-top:56.4%;margin:0;transform:scale(1);}
.add_std_inp_sh{box-shadow:0 0 4px 1px  var(--red-color);}

.theme_color{text-align: center;background-color: var(--bg-panel);}
.thm_nm{display: inline-grid;width:100%;padding:5px;}
.thm_nm input[type="text"]{width:auto;}


.btn_theme_add{position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);z-index:2;transition:.3s;}
.btn_theme_add::before{content:'\271A';    display: flex;
align-items: center;
justify-content: center;
text-align: center;font-size: 4em;color:var(--color-text);}
.btn_theme_new::before{font-size: 2em;}
.btn_theme_new{top:0px;left:auto;right:0px;transform: rotateZ(135deg);}
.thm_view_add{transition: .3s;}

.bott_set_dec{display: flex;padding-top:40px;width:100%;height: auto;}
.add_std_btn_stngs{margin:auto;margin-left:0;}
.add_std_cls{
  position: absolute;
  top:10px;right:10px;
    width: 18px;
    height: 18px;
    padding: 4px;
    border-radius: 50%;
    transition: .3s;background-color: var(--red-color);/*content:url(../img/close.svg);*/}
.add_std_cls:hover{transform:scale(.8)}


.warning_bg{width:100%;height:100%;position:fixed;background-color: #00000066;}
.warning_bg2{padding:30px 50px;border-radius:20px;position:absolute;top:50%;left:50%;transform: translate(-50%, -50%);background-color: var(--bg);}
.warning_msg_{display: block;margin:auto;margin-top:10px;}
.warning_delete[delete="yes"]{float:left; color:var(--red-color)}
.warning_delete[delete="no"]{float: right; }

.tltp{position:relative;display:inline-block;}
.tltptxt{display:inline-block;visibility:hidden;min-width:140px;background-color: var(--bg);color:var(--color-text);text-align:center;border-radius:6px;padding:5px 10px;border-radius:10px; position:absolute;left:50%;transform:translate(-50%);bottom:calc(100% + 20px);z-index:1;} 
.tltp:hover .tltptxt{visibility: visible;}
.tltptxt::before{    content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%);
  border-width: 8px;
  border-style: solid;
  border-color: var(--bg) transparent transparent transparent;}
.allSessions{width:749px;height:210px;}
.allSessionsGraph{width:749px;height:178px;border:2px solid var(--glass);margin:10px auto;overflow: hidden;border-radius: 20px;}
.allSessions span{font-size: 1.2em;margin-bottom:10px;}