@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@200&family=Raleway:wght@300&display=swap');
*{box-sizing: border-box;margin:0;padding:0;}
html{font-family: 'Montserrat Alternates', sans-serif;
    font-family: 'Raleway', sans-serif;padding:0 30px;font-size:16px;
    --text-color:#57b957;
    --red-color:#b85252;
    --bg:#FCFCFC;
    --bg-panel:#EBEBEB;
    --color-heading:#0077ff;
    --color-text:#333333;}

html[data-theme="dark"]{
    --text-color:#57b957;
    --bg:#333333;
    --bg-panel:#434343;
    --color-heading:#0077ff;
    --color-text:#b5b5b5;}

body{background-color:var(--bg);color:var(--color-text)}
h1, h2, h3, h4{font-weight: 200;}
a{text-decoration: none;color:inherit;}
ul{list-style-type: none;}
li{}
button{text-decoration: none;border:none;outline:none;background-color: transparent;}


input, select, option{background-color: var(--bg);border:none;color:var(--color-text);border-radius:10px;padding:10px;}
input:hover, select:hover{box-shadow: 0px 0px 4px 0px var(--color-text);}
input:active, select:active {outline: none;border: none;}
input:focus, select:focus {outline:0;}


input[type=checkbox]{height:0;width:0;visibility: hidden;}

.sec_info h2{margin-bottom:20px;}
.sec_info h3{margin:20px 0; font-weight: 600;}



#header{width:100%;height:auto;display: inline-block;padding:10px 0;border-bottom: solid 1px #000;}
#navBar{display: inline-flex;}
#navBar  *{margin-right:20px;}
#mounth{float: right;}
#mainContent{width:100%;height:auto;display:block;padding:10px 0;}
#main_info{display:inline-grid;font-size: 1.2em;}
.organizeBox{padding:20px;margin:40px 0;}
#main_info span{margin-bottom:.6em;}
.organizeBox__{width:100%;height:auto;background-color:var(--bg-panel);border-radius: 10px;}
.info_box{padding:10px;border:1px solid var(--text-color);margin:0 10px 10px 0;display: inline-flex;transition: .1s;}
.info_box:hover{cursor:pointer;background-color:var(--text-color);color:#fff;}
#third_info span{font-size: 1.4em;margin:0 10px 10px 0;display: inline=flex;}
#third_info span:hover{color:var(--text-color);cursor: pointer;}


.themes_stngs{display: block;}


.themes_displayed{    width: 100%;
    margin: auto;
    position: relative;
    display: table;
    clear: both;}
[class*="thm_view"]{position: relative;
    float: left;
    width: calc(50% - 10px);
    padding-top: calc(50% - 10px);
    margin: 5px;
    transition: .4s;transform:scale(.9)}
.thm_view[selected="yes"]{transform:scale(.85);}
.thm_view[selected="yes"] [class*="thm_bck"]{box-shadow: none;border:3px solid var(--color-heading)}
.thm_view[selected="no"]:hover{transform:scale(1.1);z-index: 2;}
[class*="thm_text2"]{font-size:.4em;display: block;}
[class*="thm_bck"]{width:100%;height:100%;position:absolute;top:0;left:0;background-color:var(--bg);border-radius: 10px;padding:10px;box-shadow: 0 0 6px 0 #cecdcd;}
[class*="thm_bck"]span{color:var(--color-text);}

[class*="thm_box"]{border-radius:5px;margin:10px auto;width:100%;height:auto;padding:10px;background-color:var(--bg-panel);}
[class*="thm_text_box"]{font-size:.4em;padding:4px;background-color: transparent;color:var(--color-text);border: 1px solid var(--text-color);display: inline-block;}
[class*="thm__text_box"]{color:inherit;background-color: var(--text-color);}

.new_thm_setup{margin:5px;position:relative;}
.thm_view_new{width:100%;padding-top:56.4%;margin:0;transform:scale(1);}
.add_std_inp_sh{box-shadow:0 0 4px 1px  var(--red-color);}

.theme_color{text-align: center;}
.thm_nm{display: inline-grid;width:100%;padding:5px;}
.thm_nm input[type="text"]{width:auto;}


.btn_theme_add{position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);}
.btn_theme_add::before{content:'\271A';    display: flex;
align-items: center;
justify-content: center;
text-align: center;font-size: 4em;color:var(--color-text);}
.btn_theme_new{top:10px;left:auto;right:10px;transform: rotateZ(135deg);}

/*

 <div class="thm_view_new">
                                <div class="thm_bck_new" id="thm_bck_new">
                                    <span class="thm_text_new"><input type="text" maxlength="7" placeholder="Theme`s name"/></span>
                                    <div class="thm_box_new">
                                        <div class="thm_text_box_new">AaaaBbbCcc</div>
                                        <div class="thm_text_box_new thm__text_box__new">AaaaBbbCcc</div>
                                    </div>
                                    <div class="thm_box_new"">
                                        <span class="thm_text2_new">AaaaBbbCcc</span>
                                    </div>
                                </div>
                            </div>


                            <div class="thm_nm">
                                <label for="prim_color">Primary color</label>
                                <input name="prim_color" id="prim_color" class="add_std_inp theme_color" type="text" maxlength="7" value="#333333" required>
                                
                                <label for="sec_color">Secondary color</label>
                                <input name="sec_color" id="sec_color" class="add_std_inp theme_color" type="text" maxlength="7" value="#434343" required>
                            
                                <label for="thrd_color">Third color</label>
                                <input name="thrd_color" id="thrd_color" class="add_std_inp theme_color" type="text" maxlength="7" value="#0077ff" required>
                            
                                <label for="prim_font">Primary font</label>
                                <input name="prim_font" id="prim_font" class="add_std_inp theme_color" type="text" maxlength="7" value="#b5b5b5" required>
                            
                                <label for="sec_font">Secondary font</label>
                                <input name="sec_font" id="sec_font" class="add_std_inp theme_color" type="text" maxlength="7" value="#57b957" required>
                            
                            </div>

*/