
.loader {
    position:relative;top:calc(50% - 20px);left:calc(50% - 20px);transform: translate(-50%, -50%);
    border: 4px solid transparent;
    border-radius: 50%;
    border-top: 4px solid var(--color-text);
    width: 40px;
    height: 40px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }