.stud_info{display:flex;border-bottom:1px solid #000;}
.std_infOPT{margin: auto;margin-right:0px;}
.stud_info_1{display: grid;}
.std_name{font-size:2em;}

.addSession_btn{display: block;margin-bottom: 10px;}
.std_set_btn{width:30px;height:30px;background-color: transparent;filter: invert(1);margin:auto;margin-right:0px;}
.std_set_btn img{width:100%;height:auto;}