.stud_info{display:flex;border-bottom:1px solid #000;}
.std_infOPT{margin: auto;margin-right:0px;}
.stud_info_1{display: grid;}
.std_name{font-size:2em;}

.std_set_btn{width:30px;height:30px;filter: invert(1);margin:auto;margin-right:0px;}
.std_set_btn img{width:100%;height:auto;}

.std_prgLngs{border-radius: 20px;padding: 5px 10px;background-color: var(--bg);margin: 5px;line-height: 2.4;position: relative;}
.__std_prgLngs__{background-color: var(--bg-panel);}
.std_prgLngs[owned="yes"] span{content:url("../img/close.svg");transform:none;background-color: var(--red-color);}
.std_prgLngs[owned="no"] span{content:url("../img/add.svg");transform:none;background-color: var(--color-heading);}
.std_prgLngs[owned="selected"] span{content:url("../img/check.svg");transform:none;background-color:var(--text-color)}
.std_prgLngs[owned="selected"] span:hover{content:url("../img/close.svg");transform:none;background-color: var(--red-color);}
.std_prgLngs_cls{position:absolute;width:18px;height:18px;padding:4px;border-radius: 50%;transition: .3s;}
.std_prgLngs[owned="yes"] span:hover, .std_prgLngs[owned="no"] span:hover{transform: scale(1.2)rotateZ(20deg);}

.std_prgLngs_{width:100%;height:25px;display: block;padding:0 10px;transition:.3s;position:relative}


.std_prgLngs_btn{position:absolute;top:50%;left:50%;transform: translate(-50%, -50%);transition: .3s;}
.std_prgLngs_btn__{position:absolute;bottom:10px;left:50%;transform:translateX(-50%);transition: .3s;}
[class*="std_prgLngs_btn"]::before{color:var(--color-text);font-size: 1.4em;}
.std_prgLngs_btn::before{content:'\271A';}
[class*="std_prgLngs_btn__"]::before{content:'\2714';}

.std_prgLngs_2, .std_prgLngs_3{height:330px;padding:30px 10px;}
.std_prgLngs_3{height:700px;}

.std_prgLngs_btn2{transform:rotateZ(135deg);position:absolute;top:10px;left:auto;right:10px;}

.add_classes_div{height: 100%;}
.add_classes_ul{height:auto;}
.add_classes_li{display: block;margin:10px;}
.add_classes_li_teacher{float: right;}
.add_classes_li_class, .add_classes_li_teacher{margin:0 5px;}
.class_answ_msg{display: table;}
    
.class_answ{height:200px;width: 100%;overflow: auto;}